<ion-content>

  <ion-icon src="assets/DuocLogo (1).svg" id="logoDuoc"></ion-icon>
  
  <div class="background">
    <div class="shape shape-1"></div>
    <div class="shape shape-2"></div>
    <div class="shape shape-3"></div>
  </div>

  <div class="header">
    <h1>Duoc Mobile</h1>
  </div>

  <div class="login-container">
    <ion-card>
      

      
      <div class="login-container2">
        
          <ion-card-header>
            <ion-card-title>Inicio de sesion</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label position="floating">Nombre de usuario</ion-label>
              <ion-input type="text" [(ngModel)]="loginData.username"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Contraseña</ion-label>
              <ion-input type="password" [(ngModel)]="loginData.password"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Tipo de usaurio</ion-label>
              <ion-select [(ngModel)]="loginData.userType">
                <ion-select-option value="driver">Conductor</ion-select-option>
                <ion-select-option value="client">Cliente</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-button expand="full" (click)="MandarAhome()">Iniciar sesion</ion-button>
          </ion-card-content>
      </div>



    </ion-card>
  </div>



</ion-content>
