ion-toolbar {
    background-color: #FCB32E;
    text-align: center;
}

ion-title {
    align-items: center;
    flex-direction: column;
}

.input-container {
    position: absolute;
    top: 40px;
    left: 10px;
    right: 10px;
    z-index: 5; /* Para que la barra de búsqueda quede por encima del mapa */
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#rutas {
    background-color: white;
    position: absolute;
    top: 96px;
    left: 10px;
    right: 10px;
    z-index: 10;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}


.ruta {
    background-color: #FCB32E;
    padding: 10px;
    cursor: pointer;
}

.ruta:hover {
    background-color: #000000;
}

.map-container {
    position: relative;
    height: calc(100vh - 60px); /* Altura ajustada para que el mapa llene la pantalla */
    width: 100%;
    z-index: 1;
}
