<ion-header>
  <ion-toolbar color="dark">
    <ion-title>TeLlevoApp-Pasajero</ion-title>
  </ion-toolbar>
</ion-header>

  <!-- Información del viaje (distancia y duración) -->
  <div id="info-viaje">
    <div class="distancia">
      <ion-icon name="analytics"></ion-icon>
      {{distancia}}
    </div>
    <div class="tiempo">
      <ion-icon name="time"></ion-icon>
      {{duracion}}
    </div>
  </div> 

  <!-- Barra de búsqueda para ingresar destino -->
  <div class="input-container">
    <input type="text" [(ngModel)]="end" (input)="updateSearchResults()" placeholder="Ingresa un destino" id="input">
  </div>

  <!-- Contenedor del mapa -->
  <div #map id="map" class="map-container"></div>

  <!-- Lista de resultados de autocompletar -->
  <div id="rutas" *ngIf="autocompleteItems.length > 0">
    <div class="ruta" *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
      {{ item.description }}
    </div>
  </div> 

  
<!-- Footer con opciones de navegación -->
<ion-footer>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" [routerLink]="'/home'">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="options" (click)="presentOptionsPopover($event)">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Opciones</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="activity" (click)="onLogout()">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Actividad</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account" (click)="presentAccountModal()">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Cuenta</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>
