.account-container {
    display: flex;
    flex-direction: column;
    justify-content: unset;
    align-items: center;
    height: 100%;
  }
  
  .user-icon {
    font-size: 100px;
    color: #FCB32E;
  }
  
  .account-info {
    text-align: left;
    margin-top: 20px;
  }
  
  .account-info p {
    margin: 10px 0;
    font-size: 16px;
  }

  .botonCerrar{
    font-size: small;
  }

  .tituloVista{
    font-size: smaller;
  }