ion-header {
  --background: #212435;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #fcb32e;
  padding: 20px;
}

.welcome-message {
  font-size: 2.5rem;
  color: #212435;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.welcome-text {
  font-size: 1.2rem;
  color: #212435;
  text-align: center;
  margin-bottom: 20px;
}

ion-button {
  --background: #212435;
  --color: #fcb32e;
  font-size: 1.1rem;
}
